<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <title>{% block title %}Bienvenue sur MaBoutique{% endblock %}</title>

         {# CSS du template Electro #}
        <link rel="stylesheet" href="{{ asset('theme/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/styles.css') }}">

         {% block stylesheets %}{% endblock %}
</head>
    <body>

    {# Contenu principal de la page #}
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {# Scripts JS #}
    <script src="{{ asset('theme/js/jquery.min.js') }}"></script>
    <script src="{{ asset('theme/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('theme/js/scripts.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
